/* task 1 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.search {
  height: 40vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.search img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.search img {
  object-fit: cover;
}

.search .content {
  z-index: 2;
  color: #fff;
  padding: 0 13px;
  text-align: center;
  position: relative;
}

.search h1 {
  font-size: 2.65rem;
  font-weight: 600;
}

.search p {
  margin-top: 8px;
  font-size: 1.5rem;
}

.search .search-box {
  height: 55px;
  margin: 45px 0;
  position: relative;
}

.search-box i {
  position: absolute;
  left: 20px;
  top: 50%;
  cursor: default;
  color: #8d8d8d;
  font-size: 1.4rem;
  transform: translateY(-50%);
}

.search-box input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 1.1rem;
  padding-left: 55px;
  background: #fff;
  border-radius: 5px;
}

.search-box input::placeholder {
  color: #929292;
}

.search-box input:focus::placeholder {
  color: #bfbfbf;
}

/* task2 */

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .images {
    gap: 15px;
    max-width: 95%;
    margin-top: 40px;
    columns: 5 340px;
    list-style: none;

    & .card {
      display: flex;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      margin-bottom: 14px;
      border-radius: 4px;
    }

    & img {
      width: 100%;
      z-index: 2;
      position: relative;
    }

    & .details {
      position: absolute;
      z-index: 4;
      width: 100%;
      bottom: -100px;
      display: flex;
      align-items: center;
      padding: 15px 20px;
      justify-content: space-between;
      transition: bottom 0.1s ease;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    }

    & li:hover .details {
      bottom: 0;
    }

    & .load-more {
      color: #fff;
      background: #8a6cff;
      margin: 50px 0;
      font-size: 1.2rem;
      padding: 12px 27px;
    }
  }

  & .load-more {
    color: #fff;
    background: #8a6cff;
    margin: 50px 0;
    font-size: 1.2rem;
    padding: 12px 27px;

    & .disabled {
      opacity: 0.6;
      pointer-events: none;
    }

    &:hover {
      background: #704dff;
    }
  }
}

.photographer {
  color: #fff;
  display: flex;
  align-items: center;

  & i {
    font-size: 1.4rem;
    margin-right: 10px;
  }

  & span {
    font-size: 1.05rem;
  }
}

button,
i {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease;
}

.details button {
  background: #fff;
  font-size: 1.1rem;
  padding: 3px 8px;
}

.details .download-btn:hover {
  background: #f2f2f2;
}
